.financeContainer {
  height: 150px;
  width: 275px;
  background-color: #ffffff;
  display: flex;
  margin: 20px;
  border-radius: 10px;
}

.financialsDiv {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.financialsImg {
  height: 120px;
  width: 120px;
}

.left {
  display: grid;
  place-items: center;
  margin-left: 10px;
}

.right {
  margin-top: 40px;
  margin-left: 3px;
  margin-right: 2px;
  text-align: left;
}

.heading {
  color: grey;
  font-size: 14px;
}

.dollarEarnings {
  color: black;
  font-size: 25px;
  font-weight: bold;
}

.growth {
  font-size: 14px;
}

@media (max-width: 480px) {
  .financialsDiv {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }
}

@media (min-width: 1530px) {
  .financialsDiv {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
  }
}

@media (max-width: 1530px) {
  .financialsDiv {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }
  .financeContainer {
    height: 150px;
    width: 30vw;
    background-color: #ffffff;
    display: flex;
    border-radius: 10px;
    justify-content: center;
  }
}

@media (max-width: 1044px) {
  .financialsDiv {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }
  .financeContainer {
    height: 150px;
    width: 50vw;
    margin-left: 50px;
    background-color: #ffffff;
    display: flex;
    border-radius: 10px;
    justify-content: center;
  }
}
