.App {
  text-align: center;
}

.container {
  display: flex;
  gap: 20px;
  background-color: #f5f6f8;
}

.dashboard {
  display: flex;
  position: relative;
  justify-content: center;
  max-width: 100%; 
}

.bodyContent {
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: 100%; 
}

@media (min-width: 1200px) {
  .bodyContent {
    margin-left: 250px;
  }
}
@media (max-width: 480px) {
  .bodyContent {
    width: 110vw;
  }
}

@media (min-width: 481px) and (max-width: 1199px) {
  .bodyContent {
    margin-left: 50px;
  }
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  overflow-x: hidden;
}
